extends layout

block content
   #sidebar.sidebar.collapsed
      // Nav tabs
      ul.sidebar-tabs(role='tablist')
         li
            a(href='#cmos', role='tab')
               i.fa.fa-users
         li
            a(href='#stormwater', role='tab')
               i.fa.fa-cloud
         li
            a(href='#cleangreen', role='tab')
               i.fa.fa-refresh
         li
            a(href='#mixedgreen', role='tab')
               i.fa.fa-leaf
         li
            a(href='#hoodpark', role='tab')
               i.fa.fa-binoculars
         li
            a(href='#greenparking', role='tab')
               i.fa.fa-car
         li
            a(href='#urbanag', role='tab')
               i.fa.fa-lemon-o
         li
            a(href='#urbanforest', role='tab')
               i.fa.fa-tree
         li
            a(href="#neighborhoods",role='tab')
               i.fa.fa-home
         li
            a(href="#csas",role='tab')
               i.fa.fa-bar-chart
         li
            a(href="#watersheds",role='tab')
               i.fa.fa-tint
         li
            a(href='#settings', role='tab')
               i.fa.fa-cog.settings
         li
            a(href="#help", role='tab')
               i.fa.fa-question

      // Tab panes
      .sidebar-content.active
         #cmos.sidebar-pane
            div.sidebar-head
               i.gpb_icon#cmos_icon
               div.sidebar-title Community Managed Open Spaces
         #stormwater.sidebar-pane
            div.sidebar-head
               i.gpb_icon#stormwater_icon
               div.sidebar-title Stormwater Management Sites
         #cleangreen.sidebar-pane
            div.sidebar-head
               i.gpb_icon#cleangreen_icon
               div.sidebar-title Clean and Green
         #mixedgreen.sidebar-pane
            div.sidebar-head
               i.gpb_icon#mixedgreen_icon
               div.sidebar-title Mixed Greens
         #hoodpark.sidebar-pane
            div.sidebar-head
               i.gpb_icon#hoodpark_icon
               div.sidebar-title Neighborhood Parks
         #greenparking.sidebar-pane
            div.sidebar-head
               i.gpb_icon#greenparking_icon
               div.sidebar-title Green Parking
         #urbanag.sidebar-pane
            div.sidebar-head
               i.gpb_icon#urbanag_icon
               div.sidebar-title Urban Agriculture
         #urbanforest.sidebar-pane
            div.sidebar-head
               i.gpb_icon#urbanforest_icon
               div.sidebar-title Urban Forests
   div#map.sidebar-map
