extends map_layout

block content
    div
        div(ng-include="'public/templates/vs_modal.html'").vs-modal

    div(ng-controller='dataController')
        nav(role='navigation').navbar.navbar-default.navbar-inverse.navbar-fixed-top.navi
            .container-fluid
                .navbar-left
                    .navbar-header
                        a(href='#').navbar-brand
                            img(src='/public/img/bmore-green-registry_white.png',height='36px',width:'auto')
                ul.nav.navbar-nav
                    button.btn.btn-success.apply-button(type='submit',ng-click='applyActiveSelectors()') Apply Filters
                ul.nav.navbar-nav
                    span.dropdown(dropdown='', on-toggle='toggled(open)')
                        a.dropdown-toggle(href='', dropdown-toggle='')
                            span Sites
                            span.caret
                        ul.dropdown-menu
                            li(ng-repeat='pattern in site_selectors')
                              a(href='',ng-click='switchSelector(pattern,true)')
                                span.img-holder 
                                    img(ng-src="{{pattern.img_src}}",width='36px',height='auto')
                                span {{ pattern.title }}
                ul.nav.navbar-nav
                    span.dropdown(dropdown='', on-toggle='toggled(open)')
                        a.dropdown-toggle(href='', dropdown-toggle='')
                            span Layers
                            span.caret
                        ul.dropdown-menu
                            li(ng-repeat='layer in standard_layer_selectors')
                              a(href='',ng-click='switchSelector(layer,true)') {{ layer.title }}

                ul.nav.navbar-nav
                    span.dropdown(dropdown='', on-toggle='toggled(open)')
                        a.dropdown-toggle(href='', dropdown-toggle='')
                            span Indicators
                            span.caret
                        ul.dropdown-menu
                            li(ng-repeat='section in vs_section_selectors')
                              a(href='#', ng-click="openVsModal(section)") {{ section.title }}
                ul.nav.navbar-nav.preferences
                    span.dropdown(dropdown='', on-toggle='toggled(open)')
                        a.dropdown-toggle(href='', dropdown-toggle='')
                            span.glyphicon.glyphicon-wrench 
                            span.caret
                        ul.dropdown-menu
                            li
                              a(href='https://github.com/apathinwalking/baltimore-green-registry/tree/master/data') Data Downloads
                            li
                              a(href='#') Settings
                 ul.nav.navbar-nav.navbar-right
                    .navbar-header
                        a(href='#').navbar-brand
                            img(src='/public/img/bnia_white.png',height='36px',width:'auto')
                            span BNIA
                    


        div.config
            accordion
                div(ng-repeat="sel in selectors",ng-show='sel.active == true').my-accordion-container.ng-hide
                    accordion-group
                        accordion-heading
                            div
                                button(type='button',ng-click='switchSelector(sel,false)').close 
                                    span(aria-hidden='true') &times
                                div.panel-title {{ sel.title }}
                        ng-include(src="'public/templates/selector_options.html'")

        div.search.panel.panel-default.map-overlay
            ul.nav.navbar-nav
                span.dropdown(dropdown='', on-toggle='toggled(open)')
                        a.dropdown-toggle(href='', dropdown-toggle='')
                            span Selection
                            span.caret
                        ul.dropdown-menu
                            li(ng-repeat='search in searches')
                              a(href='#') {{search.title}}
                    form.navbar-form.navbar-left(role='search')
                        div.float-right
                            .form-group
                                    input.form-control(type='text',ng-show='searches.placeholder.active == true')
                                    input.form-control(type='text', ng-model='asyncSelected', placeholder='Locations loaded via $http', typeahead='address for address in getLocation($viewValue)', typeahead-loading='loadingLocations',ng-show='searches.address.active == true')
                                    input.form-control(type='text', ng-model='selected', placeholder='Indicator Name...',typeahead='indicator.title for indicator in vs_layer_selectors',ng-show='searches.indicators.active == true')
                            button.btn.btn-default(type='submit',ng-click='') Submit

        div.map-container
            #map

        div.legend.panel.panel-default.map-overlay
            
