extends map_layout

block content
    div
        div(ng-include="'public/templates/vs_modal.html'").vs-modal

    div(ng-controller='dataController')
        nav(role='navigation').navbar.navbar-default.navbar-inverse.navbar-fixed-top.navi
            .container-fluid
                .navbar-left
                    .navbar-header
                        a(href='#').navbar-brand
                            img(src='/public/img/bmore-green-registry_white.png',height='36px',width:'auto')
                ul.nav.navbar-nav
                    span.dropdown(dropdown='', on-toggle='toggled(open)')
                        a.dropdown-toggle(href='', dropdown-toggle='')
                            span Patterns
                            span.caret
                        ul.dropdown-menu
                            li(ng-repeat='pattern in site_selectors')
                              a(href='',ng-click='switchSelector(pattern,true)')
                                span.img-holder 
                                    img(ng-src="{{pattern.img_src}}",width='36px',height='auto')
                                span {{ pattern.title }}
                ul.nav.navbar-nav
                    span.dropdown(dropdown='', on-toggle='toggled(open)')
                        a.dropdown-toggle(href='', dropdown-toggle='')
                            span Layers
                            span.caret
                        ul.dropdown-menu
                            li(ng-repeat='layer in standard_layer_selectors')
                              a(href='',ng-click='switchSelector(layer,true)') {{ layer.title }}

                ul.nav.navbar-nav
                    span.dropdown(dropdown='', on-toggle='toggled(open)')
                        a.dropdown-toggle(href='', dropdown-toggle='')
                            span Indicators
                            span.caret
                        ul.dropdown-menu
                            li(ng-repeat='section in vs_section_selectors')
                              a(href='#', ng-click="openVsModal(section)") {{ section.title }}
                ul.nav.navbar-nav.preferences
                    span.dropdown(dropdown='', on-toggle='toggled(open)')
                        a.dropdown-toggle(href='', dropdown-toggle='')
                            span.glyphicon.glyphicon-wrench 
                            span.caret
                        ul.dropdown-menu
                            li
                              a(href='https://github.com/apathinwalking/baltimore-green-registry/tree/master/data') Data Downloads
                            li
                              a(href='#') Settings
                 ul.nav.navbar-nav.navbar-right
                    .navbar-header
                        a(href='#').navbar-brand
                            img(src='/public/img/bnia_white.png',height='36px',width:'auto')
                            span BNIA
                    


        div.config
            accordion(close-others='true')
                div(ng-repeat="sel in selectors",ng-show='sel.active == true').my-accordion-container.ng-hide
                    accordion-group(is-open='sel.open')
                        accordion-heading
                            div
                                button(type='button',ng-click='switchSelector(sel,false)').close 
                                    span(aria-hidden='true') &times
                                div.panel-title {{ sel.title }}
                        ng-include(src="'public/templates/selector_options.html'")

        div.search.panel.panel-default.map-overlay
            ul.nav.navbar-nav
                span.dropdown(dropdown='', on-toggle='toggled(open)')
                        a.dropdown-toggle(href='', dropdown-toggle='')
                            span Selection
                            span.caret
                        ul.dropdown-menu
                            li(ng-repeat='search in searches')
                              a(href='#',ng-click='switchSearch(search)') {{search.title}}
                    form.navbar-form.navbar-left(role='search')
                        div.float-right
                            .form-group
                                    input.form-control(type='text',ng-show='!searches.address.active && !searches.indicators.active',placeholder='Make a selection...') 
                                    input.form-control(type='text', ng-model='asyncSelected', placeholder='Type an address...', typeahead='address.formatted_address for address in getLocation($viewValue) | limitTo:8', typeahead-loading='loadingLocations',ng-show='searches.address.active == true',typeahead-on-select='searchSelect($item)')
                                    input.form-control(type='text', ng-model='selected', placeholder='Indicator Name...',typeahead='indicator.title for indicator in vs_layer_selectors | limitTo:8', typeahead-editable="false", ng-show='searches.indicators.active == true',typeahead-on-select='searchSelect($item)')
                            button.btn.btn-default(type='submit',ng-click='submitSearch()') Submit

        div.map-container
            #map

        div.legend.panel.panel-default.map-overlay(ng-show='active.pattern || active.layer')
            div.pattern-legend(ng-show='active.pattern') 
                h4 Pattern
                div.cmos-legend(ng-show='active.pattern.id == \'cmos\'')
                    div.legend-entry
                        div.cmos-legend-marker
                        span.legend-marker-label All Sites
                div.stormwater-legend(ng-show='active.pattern.id == \'stormwater\'')
                    div.legend-entry
                        div.sw-active-legend-marker
                        span.legend-marker-label Active
                    div.legend-entry
                        div.sw-identified-legend-marker
                        span.legend-marker-label Identified
            div.layer-legend(ng-show='active.layer')
                h4 Layer
                div(ng-repeat='vs_layer in vs_layer_selectors') 
                    div.vs-layer-legend(ng-show='active.layer.id == vs_layer.id')
                        div(ng-repeat ='opt in vs_layer.getFilterById(\'intervals\').options')
                            div.legend-entry
                                div.layer-legend-marker(style='{{\'background-color:\' + vs_layer.meta.colors[opt.interval]}}')
                                span.legend-marker-label {{opt.title}}
                div.default-layer-legend(ng-show='active.layer.id == \'neighborhoods\' || active.layer.id == \'watersheds\' || active.layer.id == \'csas\'')
                    div.legend-entry
                        div.default-layer-legend-marker
                        span.legend-marker-label All Areas
            div.address-legend(ng-show='active.radius_filter')
                h4 Address
                div.address-legend-container
                    button(type='button',ng-click='clearRadiusFilter();applyActiveSelectors()').close
                        span(aria-hidden='true') &times
                    div.legend-marker-label{{active.radius_filter.title}}


            
