doctype html
html(ng-app='data')
  head
    title BNIA Baltimore Green Registry
    script(src="/public/lib/angular/angular.min.js")
    script(src="/public/lib/angular-route/angular-route.min.js")
    script(src="/public/lib/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="/public/lib/lodash/lodash.js")
    script(src="/public/lib/d3/d3.min.js")
    script(src="/public/lib/chroma-js/chroma.min.js")
    script(src="/public/lib/leaflet/dist/leaflet.js")
    script(src="public/js/map_load.js")
    link(rel="stylesheet",href="/public/lib/leaflet/dist/leaflet.css")
    link(rel="stylesheet",href="/public/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet",href="/public/lib/flat-ui/dist/css/flat-ui.min.css")
    link(rel="stylesheet",href="/public/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")
    link(rel="stylesheet",href="public/css/map.css")
  body
    block content
    //script(src="/public/lib/map_init.js")