@font-face{
	font-family:lato;
	src: url(/public/lib/flat-ui/dist/fonts/lato/lato-regular.woff);
}

@-moz-document url-prefix() {
    .navi .dropdown-menu{
    	position:absolute;
    	top:50px;
    	margin-top:20px;
    }
}


body, html{
	font-family:lato;
}


.navi .navbar-brand > img{
	margin-top:-8px;
	float:left;
}

.navi .navbar-brand > span{
	position:relative;
	float:left;
	max-width:180px;
}

.navi .navbar-nav{
	position:relative;
}

.navi .apply-button{
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
}

.navi .dropdown-toggle{
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	position: relative;
}

.navi .dropdown-menu img{
	background-color:#7A9E7E;
	border-radius:5px;
	margin-right:10px;
}

.config{
	position:absolute;
	top: 55px;
	left:10px;
	margin:0;
	width:340px;
	height:auto;
	z-index:1000;
}

.config .panel-title{
	font-size:14px;
}

.config .ng-isolate-scope{
	margin-top:5px;
	z-index:1001;
	box-shadow: rgba(0, 0, 0, 0.65) 0px 1px 5px 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.config .close{
	margin-top:-5px;
}

.config .panel-title{
	max-height:36px;
	text-overflow:ellipsis;
}

.config .option-header{
	font-size:14px;
}

.config .filter-option{
	padding-left:30px;
	margin-top:5px;
	margin-bottom:6px;
}

.config .filter-option input, .config .selector-show-all input{
	margin-left:-15px;
	margin-top:12px;
	padding:8px;
}

.config form{
	max-height:186px;
	overflow-y:scroll;
	overflow-x:hidden;
}

.config .filter-option label{
	font-size:12px;
}

.search{
	width:auto;
	height:52px;
	position:absolute;
	left:calc(100% - 500px);
	top:60px;
}

.search .input-holder input{
	z-index:1001;
	border-radius:5px;
}

.search .btn{
	margin-right:-20px;
}

.search .dropdown{
	position:relative;
	float:left;
}

.search .float-right{
	float:right;
	display:inline-block;
}

.search .dropdown-toggle{
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	outline-style: none;
	outline-width: 0px;
	padding-bottom:5px;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 10px;
	position: relative;
}

.search .dropdown-menu{
	box-shadow: rgba(0, 0, 0, 0.65) 0px 1px 5px 0px;
	max-width:300px;
}
.search .dropdown-menu li a{
	max-width:300px;
	overflow-x:hide;
	word-wrap:break-word;
	white-space:normal;
}

.legend{
	position:absolute;
	top:60px;
	left:360px;
	padding:9px;
}

.modal .list-group-item{
	font-size:14px;
}

.modal .list-group{
	max-height:400px;
	overflow-y:scroll;
	overflow-x:hidden;
}

.map-container{
    position:absolute;
    width:100%;
    height:calc(100% - 50px);;
    top:50px;
}

#map{
	height:100%;
	width:100%;
}

.vs-modal{
	display:none;
}

.map-overlay{
	z-index:1001;
	box-shadow: rgba(0, 0, 0, 0.65) 0px 1px 5px 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster > div {
    width: 20px;
    height: 20px;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    border-radius: 15px;
    font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 20px;
}

.marker-cluster .inner{
    margin-top:3px;
    margin-left:3px;
    width:14px;
    height:14px;
    border-radius:15px;
}

.cmos-marker{
	background-color:green;
}

.sw-identified-marker{
	background-color:dodgerblue;
}

.sw-active-marker{
	background-color:lightblue;
}