@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/public/lib/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('/public/lib/bootstrap/fonts/glyphicons-halflings-regular.eot#iefix') format('embedded-opentype'), url('/public/lib/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/public/lib/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/public/lib/bootstrap/fonts/glyphicons-halflings-regular.svg') format('svg');
}

html,body{
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
}

#map{
    height:100%;
}

.sidebar-head{
    width:120%;
    height:40px;
    margin-left:-20px;
    margin-top:-10px;
    background-color:#7AA138;
}

.sidebar-title{
    height:40px;
    color:white;
    padding-top:5px;
    padding-left:50px;
    padding-right:20px;
    font-size:150%;
}
.alt-sidebar-head{
    width:120%;
    height:40px;
    margin-left:-20px;
    margin-top:-10px;
    background-color:#0074D9;
}

.alt-icon{
    width:40px;
    height:40px;
    display:inline;
    float:left;
    padding-top:5px;
    padding-left:5px;
}
.gpb_icon {
    width:40px;
    height:40px;
    display:inline;
    background-position:center;
    background-repeat:no-repeat;
    cursor: pointer;
    float: left;
    background-size: 40px;
    background-position-x:0px;
    background-position-y:0px;
}

#cmos_icon {
    background-image: url('../img/cmos.png');
}

#stormwater_icon {
    background-image: url('../img/stormwater.png');
}

#cleangreen_icon {
    background-image: url('../img/cleangreen.png');
}

#mixedgreen_icon {
    background-image: url('../img/mixedgreen.png');
}

#hoodpark_icon {
    background-image: url('../img/hoodpark.png');
}

#greenparking_icon {
    background-image: url('../img/greenparking.png');
}

#urbanag_icon {
    background-image: url('../img/urbanag.png');
}

#urbanforest_icon {
    background-image: url('../img/urbanforest.png');
}


#canvas-container{
    position: relative;
}
.canvas-leaflet-zoom-hide{
    position:relative;
}

.awesome-marker {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.cmos-marker-cluster-small{
    background-color:#FFE07C;
}

.cmos-marker-cluster-small div{
    background-color:#FFD36F;
}

.cmos-marker-cluster-medium{
    background-color:#FFC662;
}

.cmos-marker-cluster-medium div{
    background-color:#FFB955;
}

.cmos-marker-cluster-large{
    background-color:#FFAD49;
}

.cmos-marker-cluster-large div{
    background-color:#FDA03C;
}

.sw-marker-cluster-small{
    background-color:#B6DBEA;
}

.sw-marker-cluster-small div{
    background-color:#A9CEDD;
}

.sw-marker-cluster-medium{
    background-color:#90B5C4;
}

.sw-marker-cluster-medium div{
    background-color:#83A8B7;
}

.sw-marker-cluster-large{
    background-color:#698E9D;
}

.sw-marker-cluster-large div{
    background-color:#5D8291;
}

.settings{
    float:bottom;
}

.multiselect{
    width:100%;
}


